<div class="btn-group dropup" id="language-chooser" role="group">
  <button id="btn-language-chooser" title="{{ site.footer.language-chooser[page.lang] }}" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-globe fa-lg"></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="btn-language-chooser">
    {% for language in site.footer.languages %}
      <a class="dropdown-item{% if page.lang == language.short %} active{% endif %}" href="{% if page.lang == language.short %}#{% elsif language.short == site.main-language %}{{ page.root }}{% else %}{{ language.short | prepend: page.root }}{% endif %}"><i class="flag-icon {{ language.flag }}"></i> {{ language.name }}</a>
    {% endfor %}
  </div>
</div>
<p class="copyright">KleisAuke.nl, Copyright &copy; {{ site.time | date: '%Y' }}</p>
<!-- Bootstrap core JavaScript. Placed at the end of the document so the pages load faster -->
<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ page.root }}assets/js/jquery-3.1.1.min.js"><\/script>')</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js" integrity="sha384-KgEy7s3ThYKule8wWiu2WJkm0AmJeSLkXku5PY5X8MhVgdm8K1ebsVRKHfNfWPrR" crossorigin="anonymous"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug  -->
<script src="{{ page.root }}assets/js/ie10-viewport-bug-workaround.js"></script>
<!-- GitHub event activity widget -->
<script src="{{ page.root }}assets/js/github-activity.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.1/isotope.pkgd.min.js" integrity="sha384-zKykcVs0Wyy7O+3o0XHwl+IsDQzTtEit/zZCbtuKItqRwemhEEgd1nGHEoNBpYhR" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js" integrity="sha384-Xe3wc6qrKm5s/0MutOWTCjDHtr0KgeBP8ctVRqs2D3elWg+cBjXYpH+7dazj34Eh" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js" integrity="sha384-38PYlsq0vWFYdiwAXpB0nFeTgsOMC8AyIFC5g/qDp0ihLbjeYiFAWz3rcNVR1+lI" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lightcase/2.3.6/js/lightcase.min.js" integrity="sha384-5htRoVgqc7q6SJlgRbb56MpgYE1+OkmTtrBsFKNqCFRmlAHScpFvYvgC/IFljvv6" crossorigin="anonymous"></script>
<script src="{{ page.root }}assets/js/main.js"></script>
