<nav class="navbar navbar-expand-sm navbar-light pb-3">
  <div class="clearfix">
    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand d-sm-none">
        <h1 class="mb-0">{{ site.author.name }}</h1>
        <p>{% if site.author.title[page.lang] %}{{ site.author.title[page.lang] }}{% else %}{{ site.author.title }}{% endif %}</p>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbar-header">
    <ul class="nav navbar-nav mr-auto" role="tablist">
  {% for item in site.menu %}
      <li class="nav-item">
        {% if item.url[page.lang] %}
            {% assign url = item.url[page.lang] %}
        {% else %}
            {% assign url = item.url %}
        {% endif %}
        {% assign toremove = page.lang | append: '/' %}
        {% if page.permalink == toremove %}
            {% assign toremove = page.lang %}
        {% endif %}
        {% assign permalink = page.permalink | remove: toremove %}
        {% if item.id[page.lang] %}
            {% assign target = item.id[page.lang] %}
        {% else %}
            {% assign target = item.id %}
        {% endif %}
        {% if page.layout == 'page' and permalink == url %}
            {% assign isActive = true %}
        {% elsif forloop.first and permalink == '/' %}
            {% assign isActive = true %}
        {% else %}
            {% assign isActive = false %}
        {% endif %}
        <a class="nav-link{% if isActive %} active{% endif %}" id="{{ target }}-tab" href="{{ url }}"{% if page.layout != 'page' %} data-toggle="tab" data-target="#{{ target }}" aria-controls="{{ target }}"{% endif %} role="tab"><span>{% if item.title[page.lang] %}{{ item.title[page.lang] }}{% else %}{{ item.title }}{% endif %}</span></a>
      </li>
  {% endfor %}
    </ul>
  </div>
  <div class="navbar-brand ml-3 d-none d-sm-block">
    <h1 class="mb-0">{{ site.author.name }}</h1>
    <p>{% if site.author.title[page.lang] %}{{ site.author.title[page.lang] }}{% else %}{{ site.author.title }}{% endif %}</p>
  </div>
</nav>
