---
layout: page
title: Yn it koart
id: yn-it-koart
root: ../
permalink: frl/yn-it-koart
lang: frl
---
<h2 class="caption mb-4"><span>{{ page.title }}</span></h2>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <h3><span class="bg-dark px-3 font-weight-bold">{% if site.resume.education-title[page.lang] %}{{ site.resume.education-title[page.lang] }}{% else %}{{ site.resume.education-title }}{% endif %}</span></h3>
    {% for item in site.resume.education %}
        <div class="bd-callout bd-callout-primary">
            <h3>{% if item.organization[page.lang] %}{{ item.organization[page.lang] }}{% else %}{{ item.organization }}{% endif %} <span class="float-right">{% if item.duration[page.lang] %}{{ item.duration[page.lang] }}{% else %}{{ item.duration }}{% endif %}</span></h3>
            <h4 class="ml-3 text-muted">{% if item.degree[page.lang] %}{{ item.degree[page.lang] }}{% else %}{{ item.degree }}{% endif %}</h4>
            <p class="mb-0">{% if item.major[page.lang] %}{{ item.major[page.lang] }}{% else %}{{ item.major }}{% endif %}</p>
        </div>
    {% endfor %}
    </div>

    <div class="col-md-5 col-sm-12 ml-md-auto">
        <h3><span class="bg-dark px-3 font-weight-bold">{% if site.resume.skills-title[page.lang] %}{{ site.resume.skills-title[page.lang] }}{% else %}{{ site.resume.skills-title }}{% endif %}</span></h3>
        {% for item in site.resume.skills %}
        <div class="bd-callout bd-callout-primary">
            <div class="text-left" id="skill-{{ forloop.index }}"><h4>{{ item.name }}</h4></div>
            <div class="progress mb-3">
              <div class="progress-bar" role="progressbar" style="width: {{ item.percentage }}%" aria-valuenow="{{ item.percentage }}" aria-valuemin="0" aria-valuemax="100" aria-describedby="skill-{{ forloop.index }}"></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
